:root {
  --vermelho: #E50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preta);
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 20px;
}

header nav a:hover {
  color: #fff;
}

/*----------FILME PRINCIPAL---------*/

.filme-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.5)100%), url('/img/capa-gow.jpg');
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 50%;
}


.filme-principal .titulo {
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', sans-serif;
  margin-top: 15%;
}

.filme-principal .descricao {
  margin-bottom: 50px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.botoes {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.botao {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s ease all;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.botao:hover {
  transform: scale(1.1)
}


/*----------MINI IMAGENS---------*/

.carrossel-filmes {
  margin-top: 5px;
}

.carrossel-filmes .item {
  height: 300px;
  width: 290px;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  object-fit: cover;
}

.box-filme:hover {
  transform: scale(1.1)
}
